* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

.container {
  width: 60%;
  height: 600px;
  background-color: #6592cf;
  margin: 50px auto;
}

.header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 150px;
  padding-top: 100px;
}

.left {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #060f55;
  position: relative;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #6592cf;
  position: absolute;
  top: 40px;
  left: 25px;
}

.rect,
.rect-bottom {
  width: 300px;
  height: 200px;
  background-color: #6592cf;
  position: absolute;
  top: 100px;
}

.rect-bottom {
  width: 320px;
  position: absolute;
  right: 0;
  left: -10px;
}

.centered {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.bottom {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #060f55;
  position: relative;
  transform: rotate(180deg);
}

.circle-bottom {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #6592cf;
  position: absolute;
  top: 35px;
  left: 25px;
}

section {
  width: 50%;
  height: 600px;
  background-color: #6592cf;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-section {
  width: 80%;
  height: 300px;
  background-color: #243d83;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-section {
  width: 85%;
  height: 160%;
  border-radius: 50%;
  background-color: #6592cf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-item {
  width: 60%;
  height: 65%;
  background-color: #243d83;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-circle {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: gold;
}

/* baby start */

.baby {
  width: 55%;
  height: 450px;
  background: #fe5f55;
  border-radius: 50% 50% 20% 20%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baby-eye-left {
  width: 40%;
  height: 40px;
  background: #fff1c1;
  border-radius: 50%;
}

.baby-eyes {
  display: flex;
  gap: 100px;
  background-color: transparent;
  position: relative;
}

.baby-eye {
  width: 140px;
  height: 140px;
  background: #fff1c1;
  border-radius: 50%;
}

.baby__mouth {
  width: 100px;
  height: 20px;
  background-color: #fff1c1;
  border-radius: 20% 20% 20% 20%;
  position: absolute;
  bottom: -70px;
  left: 145px;
  border-radius: 20px;
}

.baby_ears {
  position: relative;
}

.baby__left__ear,
.baby__right__ear {
  width: 200px;
  height: 200px;
  background: #fff1c1;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
}

.baby__right__ear {
  position: absolute;
  bottom: 100px;
  left: 170px;
}

/* baby end */

.ice_cream__container {
  width: 40%;
  height: 700px;
  background-color: #293462;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  position: relative;
}

.ice_cream {
  width: 40%;
  height: 450px;
  background: #fff1c1;
  border-radius: 400px 400px 40% 40%;
  z-index: 1;
}

.ice_cream__stick {
  width: 70px;
  height: 150px;
  background: #fe5f55;
  border-radius: 0 0 20px 20px;
  position: absolute;
  bottom: 60px;
}

.dark__box {
  width: 70px;
  height: 50px;
  position: absolute;
  bottom: 165px;
  opacity: 0.3;
  background: black;
}
